.vs/calculadora-imc/DesignTimeBuild/.dtbcache.v2
calculadora-imc.sln
.vs/calculadora-imc/FileContentIndex/0f1d54f5-268a-4484-8346-28d384cb0de5.vsidx
.vs/calculadora-imc/FileContentIndex/3db5cd48-287a-4591-ac40-7bbd43a68e3e.vsidx
.vs/calculadora-imc/FileContentIndex/04cab552-c413-4e93-907d-d6c3502a4ec9.vsidx
.vs/calculadora-imc/FileContentIndex/2783cfdd-c415-4017-8b2f-cfd49af9f34b.vsidx
.vs/calculadora-imc/FileContentIndex/7027a424-df30-4c22-9bb9-29c10d0cf753.vsidx
.vs/calculadora-imc/v17/.futdcache.v2
.vs/calculadora-imc/v17/.suo
